@keyframes animation {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.header {
    border-bottom: 1px solid #ECECEC;

    &__conteiner {
        display: flex;
        align-items: center;
        @media screen and (min-width:768px) {
                padding-left: 15px; 
                padding-right: 15px;
                align-items: center;
            
        }

    }

}

.navigation__item {
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


 .header__logo {
     margin-right: 93px;
 }

 .navigation__list {
     display: flex;
     column-gap: 50px;
    @media screen and (max-width:768px) {
            display: none;

        }
 }

.conteiner-header-div {
    border-bottom: 1px;
    padding: 0px 15px;
    width: 1200px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header__logo,
.footer__logo {
    font-family: 'Raleway', 'cursive';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--interactive-elements-color);
}

.studia-title,
.portfolio-title {

    position: relative;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--interactive-elements-color);
}

.logo__word {
    color: #000000;
    transition: color var(--main-transition);

    &:hover,
    &:focus {
        color: var(--interactive-elements-color);
    }
}


.navigation__link {
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    transition: color var(--main-transition);

    &:hover,
    &:focus {
        color: var(--interactive-elements-color);
    }
}

.curent {
    color: var(--interactive-elements-color);
    position: relative;
    padding-left: 2px;
    padding-right: 2px;

    &::after {
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        background-color: var(--interactive-elements-color);
        border-radius: 2px;
        left: 0;
        bottom: -1px;

    }

}

.portfolio-title {
    width: 72px;
    height: 16px;
    left: 548px;
    top: 32px;
    color: var(--interactive-elements-color);
}

.link {
    text-decoration: none;
}

.header__modal-open {
    margin-left: auto;
    background-color: var(--third-title-color);
    border: none;
}

.header__menu-open{
    display: block;
    margin-left: auto;
    margin-top: 10px;
    background-color: var(--third-title-color);
    border: none;
    margin-bottom: 10px;

    @include table {
            display: none;
        }
    
        @include disktop {
            display: none;
            ;
        }
}

.mob__menu {
    position: fixed;
    flex-wrap: wrap;
    background-color: var(--third-title-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    // padding-top: 10px;
    // padding-bottom: 48px;
    padding:48px 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__modal-icon:hover,
.header__modal-icon:focus{
fill:color #000000;
}

.header__menu-close {
    background-color: var(--third-title-color);
    border: none;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    background: var(--primary-white-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__menu-close:hover,
.header__menu-close:focus{
    fill: var(--interactive-elements-color);
}

.studia__title-menu{
    color: var(--interactive-elements-color);
}

.mob__contacts{
    display: flex;
    gap: 10px;
    margin-left: auto;
    flex-direction: column;
    // align-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.mob__menu-contacts{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-items: baseline;
    flex-direction: row;
}
.mob__navigation{
padding-bottom: 115px;
}
.mob__navigation-item:not(:last-child) {
margin-bottom: 35px;
}

.mob__navigation-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
}
.mob__navigation-linkt:hover,
.mob__navigation-link:focus {
    color: var(--interactive-elements-color);
}


.mob__contact-mail {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: #757575;
        padding-top: 32px;
        
        
}

.mob__contact-tell {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--interactive-elements-color);
        margin-bottom: 32px;
}

.mob__soc-list {
    display: flex;
    margin-top: 64px;
}

.mob__soc-item:not(:last-child) {
border-right: 1px solid rgba(33, 33, 33, .2);
padding-right: 10px;
}

.mob__soc-item:not(:first-child) {
    padding-left: 10px;
}
.mob__soc-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.22;
    letter-spacing: 0.02em;
     color: var(--interactive-elements-color);
    // position: relative;

}
// .mob__soc-link:not(:first-child){
// padding-left: 10px;
// }

// .mob__link::before{
// content: '';
// position: absolute;
// left: 0;
// width: 1px;
// height: 22px;
// border: 1px solid rgba(33, 33, 33, 0.2);
// background-color: solid rgba(33, 33, 33, 0.2);
// }
